* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  padding: 0 100px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: lowercase;
  color: #222;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-right a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.login-button {
  background: #414141;
  color: white !important;
  padding: 6px 14px;
  border-radius: 999px;
}